/* Add some css styles based on the tutorial at javascript.info: introduction to browser events
 https://javascript.info/introduction-browser-events */
 body {
  padding: 10px;
  background: rgb(99, 224, 208);

}

.carousel {
  
margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 398px;
  padding: 10px 40px;
  border: 1px solid rgb(241, 225, 255);
  border-radius: 15px;
  background: rgb(230, 183, 183);
}

.carousel img {
  width: 130px;
  height: 130px;
  display: block;
}

.arrow {
  position: absolute;
  top: 60px;
  padding: 0;
  background: rgb(194, 159, 159);
  border-radius: 15px;
  border: 1px solid rgb(224, 175, 175);
  font-size: 24px;
  line-height: 24px;
  color: rgb(207, 167, 167);
  display: block;
}

.arrow:focus {
  outline: none;
}

.arrow:hover {
  background: rgb(218, 164, 164);
  cursor: pointer;
}

.prev {
  left: 7px;
}

.next {
  right: 7px;
}

.gallery {
  width: 390px;
  overflow: hidden;
}

.gallery ul {
  height: 130px;
  width: 9999px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
  font-size: 0;
}

.gallery li {
  display: inline-block;
}